<!--subscription -->
<section class="py-lg-8 py-md-10 px-md-5" style="background-color: #ebeef0;">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="subscribe">
                    <div class="row p-2">
                        <div class="col-12 col-md-4 mb-2 mb-md-0">
                            <h2 class="">Let's keep in touch</h2>
                        </div>
                        <div class="co-12 col-md-8">
                            <div id="mc_embed_signup">
                                <form action="#" method="" id="mc-embedded-subscribe-form"
                                    name="mc-embedded-subscribe-form" class="subscribe-form" target="_blank"
                                    novalidate="novalidate">
                                    <div class="subscribe-fields d-flex px-2">
                                        <input class="required email container-sm rounded-5" id="mce-EMAIL" name="EMAIL"
                                            placeholder="Your email address" type="email" value="" aria-required="true"
                                            style="width: 60%;">
                                        <div aria-hidden="true" style="position: absolute; left: -5000px">
                                            <input name="b_675276692aebec1c007f8156d_3e3da720c2" tabindex="-1"
                                                type="text" value="">
                                        </div>
                                        <button class="btn btn-lg btn-danger mx-3 mt-2"
                                            style="border-radius: 25px; width: 130px; height: 50px;"
                                            type="button">Submit</button>
                                    </div>
                                    <div class="subscribe-responses" id="mce-responses">
                                        <div class="response response-error" id="mce-error-response"
                                            style="display: none"></div>
                                        <div class="response response-success" id="mce-success-response"
                                            style="display: none"></div>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>