body {
    padding-top: none;
}

@media (min-width: 992px) {
    .py-md-10 {
        padding-top: 6rem !important;
        padding-bottom: 6rem !important;
    }
}

@media (max-width: 768px) {
    .py-md-10 {
        padding-top: 6rem !important;
        padding-bottom: 6rem !important;
    }
}

@media (max-width: 576px) {
    .py-sm-10 {
        padding-top: 7rem !important;
        padding-bottom: 7rem !important;
    }
}

/* font size */
p {
    font-size: 22px;
    font-family: Open Sans, -apple-system, "Helvetica Neue", Arial, sans-serif;
    line-height: 1.5;
}

.page-post-1 .post-header .post-description p {
    color: #555555;
    margin-bottom: 20px;
    font-size: 22px;
}

.page-post-1 .post-header .post-title h1 {
    font-weight: 500;
    margin-bottom: 20px;
}

.page-post-1 .post-header .post-date {
    display: inline-block;
    margin-right: 10px;
    font-size: 16px;
    font-weight: 400;
    color: #555555;
}

a.category {
    color: #EC255A;
    padding: 4px 8px;
    border-radius: 3px;
    margin-right: 10px;
    background-color: #eed2d9;
}

.content {
    font-size: 18px;
    font-family: Open Sans, -apple-system, "Helvetica Neue", Arial, sans-serif;
    color: var(--color-base-text-2);
    ;
}

.content p {
    font-size: 18px;
    line-height: 1.56;
    margin-bottom: 20px;
    font-family: Open Sans, -apple-system, "Helvetica Neue", Arial, sans-serif;
    color: black;
}

.section {
    padding-top: 90px;
    padding-bottom: 90px;
}

@media (min-width: 425px) {
    .section {
        padding-top: 96px;
        padding-bottom: 96px;
    }
}

/* section */

@media (max-width: 1440px) {
    .section {
        padding-top: 90px;
        padding-bottom: 90px;
    }
}

.font-fam {
    /* font-family: Open Sans, -apple-system, "Helvetica Neue", Arial, sans-serif; */
    font-family: 'Bree Serif', serif;
}

h1,
h2 {
    font-family: 'Bree Serif', serif;
}

h1,
.h1 {
    font-family: Merriweather, -apple-system, serif;
    font-size: 42px;
    line-height: 1.2;
    font-weight: lighter;
    margin: 0;
}

@media (min-width: 768px) {

    h1,
    .h1 {
        font-weight: lighter;
        font-size: 48px;
    }
}

a.text-body,
button>a {
    text-decoration: none;
    font-size: 16px;
    color: #6c757d;
}

a.heading {
    text-decoration: none;
    color: black;
    font-size: 22px;
    /* margin-left: 4px; */
    /* margin-right: 4px; */
}

/* 
.container .row .card-post .img-link:hover {
    background-color: rgba(188, 199, 195, 0.307);
} */

.navbar>.container-fluid {
    min-width: 100%;
    background-color: white;
    padding-left: 10%;
    padding-right: 10%;
    padding-bottom: 15px;
    padding-top: 15px;
}

.navbar-nav .nav-link.active {
    color: #6c757d;
}

.navbar-nav .signup {
    color: #000000;
}

.navbar-nav .signup:hover {
    color: white;
}


.container-fluid .navbar-collapse.collapse .navbar-nav .logout-btn,
.container-fluid .navbar-collapse.collapse.show .navbar-nav .logout-btn,
.container-fluid .navbar-collapse.collapse.show .navbar-nav .logout-btn>a {
    color: #6c757d;
    font-size: 16px;
    padding: 0px;
}


/* dropdown-menu */
.navbar-expand-lg .navbar-nav .dropdown-menu[data-bs-popper] {
    top: 100%;
    left: 0;
    margin-top: 1.125rem;
    border: none;
    box-shadow: 2px 2px 12px -9px;
    transition: all .2s ease-in-out;

}

.title {
    position: relative;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: top center;
    display: flex;
    align-content: center;
    align-items: center;
    flex-direction: row;
}

.title .title-image {
    background-repeat: no-repeat;
    background-size: contain;
    background-position: top center;
    text-align: center;
    position: relative;
}

.title .title-heading h1 {
    font-size: 36px;
    letter-spacing: -1px;
    line-height: 1.2;
    font-weight: bold;
}

.title .title-description {
    width: 90%;
    margin-top: 20px;
}


.author .author-image img {
    height: 32px;
    width: 32px;
    border-radius: 50%;
}

.card-post .card-meta {
    display: flex;
    margin-bottom: 10px;
}

.card-post .card-content {
    padding-top: 30px;
    padding: 15px;
    display: flex;
    flex: 1;
    flex-direction: column;
}

.author {
    font-size: 14px;
    display: flex;
    align-items: center;
}

.author .author-image {
    margin-right: 7px;
}

/****** image hover ******/
.image-hover a {
    text-decoration: none
}

/*** effect zoom in ***/

.img-zoom-in img {
    transition: all .2s ease-in-out;
    -webkit-transition: all .2s ease-in-out;
    -moz-transition: all .2s ease-in-out;
    -ms-transition: all .2s ease-in-out;
    -o-transition: all .2s ease-in-out;
}

.img-zoom-in:hover img {
    transform: scale(1.1);
    -webkit-transform: scale(1.1);
    -moz-transform: scale(1.1);
    -ms-transform: scale(1.1);
    -o-transform: scale(1.1)
}

/*** effect zoom out ***/

.img-zoom-out img {
    transition: all .2s ease-in-out;
    -webkit-transition: all .2s ease-in-out;
    -moz-transition: all .2s ease-in-out;
    -ms-transition: all .2s ease-in-out;
    -o-transition: all .2s ease-in-out;
}

.img-zoom-out:hover img {
    transform: scale(0.9);
    -webkit-transform: scale(0.9);
    -moz-transform: scale(0.9);
    -ms-transform: scale(0.9);
    -o-transform: scale(0.9)
}

/*** effect rotate-x ***/

.img-rotate-x img {
    transition: all 1.2s ease-in-out;
    -webkit-transition: all 1.2s ease-in-out;
    -moz-transition: all 1.2s ease-in-out;
    -ms-transition: all 1.2s ease-in-out;
    -o-transition: all 1.2s ease-in-out;
}

.img-rotate-x:hover img {
    transform: rotateX(180deg);
    -webkit-transform: rotateX(180deg);
    -moz-transform: rotateX(180deg);
    -ms-transform: rotateX(180deg);
    -o-transform: rotateX(180deg);
}


/* rotate y hover */
.img-rotate-y img {
    transition: all 1.2s ease-in-out;
    -webkit-transition: all 1.2s ease-in-out;
    -moz-transition: all 1.2s ease-in-out;
    -ms-transition: all 1.2s ease-in-out;
    -o-transition: all 1.2s ease-in-out;
}

.img-rotate-y:hover img {
    transform: rotateY(180deg);
    -webkit-transform: rotateY(180deg);
    -moz-transform: rotateY(180deg);
    -ms-transform: rotateY(180deg);
    -o-transform: rotateY(180deg);
}

/*** effect rotate-z ***/

.img-rotate-z img {
    transition: all 1.2s ease-in-out;
    -webkit-transition: all 1.2s ease-in-out;
    -moz-transition: all 1.2s ease-in-out;
    -ms-transition: all 1.2s ease-in-out;
    -o-transition: all 1.2s ease-in-out;
}

.img-rotate-z:hover img {
    transform: rotateZ(180deg);
    -webkit-transform: rotateZ(180deg);
    -moz-transform: rotateZ(180deg);
    -ms-transform: rotateZ(180deg);
    -o-transform: rotateZ(180deg);
}

/*** Image Opacity ***/
.img-opacity .img-1 {
    opacity: 1
}

.img-opacity .img-2 {
    opacity: 0.5
}

.img-opacity:hover .img-1 {
    opacity: 0.5
}

.img-opacity:hover .img-2 {
    opacity: 1
}

.img-opacity img {
    transition: all .6s ease-in-out;
    -webkit-transition: all .6s ease-in-out;
    -moz-transition: all .6s ease-in-out;
    -ms-transition: all .6s ease-in-out;
    -o-transition: all .6s ease-in-out;
}

.img-opacity:hover img {
    transition: all 1.2s ease-in-out;
    -webkit-transition: all 1.2s ease-in-out;
    -moz-transition: all 1.2s ease-in-out;
    -ms-transition: all 1.2s ease-in-out;
    -o-transition: all 1.2s ease-in-out;
}

/*** effect - shadow 1 ***/


.img-shadow-1 img {
    -webkit-box-shadow: 0 28px 16px -26px black;
    -moz-box-shadow: 0 28px 16px -26px black;
    box-shadow: 0 28px 16px -26px black;
}

.img-shadow-1:hover img {
    transform: scale(1.1);
    -webkit-transform: scale(1.1);
    -moz-transform: scale(1.1);
    -ms-transform: scale(1.1);
    -o-transform: scale(1.1);

    -webkit-box-shadow: 0 58px 36px -56px black;
    -moz-box-shadow: 0 58px 36px -56px black;
    box-shadow: 0 58px 36px -56px black;
}

.img-shadow-1 img {
    transition: all .6s ease-in-out;
    -webkit-transition: all .6s ease-in-out;
    -moz-transition: all .6s ease-in-out;
    -ms-transition: all .6s ease-in-out;
    -o-transition: all .6s ease-in-out;
}

.img-shadow-1:hover img {
    transition: all .6s ease-in-out;
    -webkit-transition: all .6s ease-in-out;
    -moz-transition: all .6s ease-in-out;
    -ms-transition: all .6s ease-in-out;
    -o-transition: all .6s ease-in-out;
}